


@media screen and (min-width: 320px){

	.card, .phase-content, .thin-card{
		border-radius: 10px;
	}
    .card__face--front, .card__face--back, .scene{
        border-radius: 10px;
    }
    .charts-container{
        display: flex;
        flex-direction: column;
        margin-top: 10%;
        width: 100%;
        row-gap: 1rem;
    }
    .container{
        padding-bottom: 25%;
    }
	.container-info-1{
        display: grid;
        grid-template: 25% 25% 50% 50% / repeat(1, 1fr);
        grid-gap: 20px;
        padding: 10% 0 25% 0;
    }
    .control-lbl{
        margin: 8px 5px 0 0;
        font-size: 14px;
        text-align: center;
    }
    .vaccine-data-lbl{
    	font-size: 14px;
    }
    .divider, .divider-top{
        margin: 0.5% auto;
    }
    .hint-txt{
        margin-top: 10%;
    }
    main{
        width: 90%;
    }
    .lbl-container{
        margin-top: 10%;
        text-align: center;
    }
    .loading-container{
        margin-top: 1%;
    }
    .line-chart{
        width: 100%;
        height: auto;
    }
    .line-chart-card, .vaccine-dose-card{
        width: 90%;
        height: auto;
        margin: auto;
        /* margin: auto auto 10% auto; */
        padding: 1rem;
    }
    .phase-container{
        grid-row: 2 / -1;
    }
    .phase-content{
        padding-top: -10%;
    }
    .vacine-phases-container{
        padding: 0 5% 15% 5%;
    }
    .phase-lbl-container{
        padding: 1% 5% 1% 5%;
    }
    .phase-title{
        font-size: 1.1em;
        text-align: center;
        font-weight: bold;
    }
    .phase-num{
        /*margin-left: 10%;*/
        font-size: 25px;
        margin-top: 5.5%;
        margin-left: auto;
    }
    .phase-txt{
        margin-top: 7%;
        font-weight: 100;
        font-size: 18px;
    }
    .thin-card{
        width: 95%;
        height: 50px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
    }
    .thin-content{
        display: flex;
        justify-content: center;
        margin-left: 10%;
        margin-right: 10%;
    }
    .title-container{
/*    display: flex;
        justify-content: center;
        align-items: center;*/
    }
    .total-vaccine{
        grid-row: 1 / 2;
    }
    .total-vaccine-content{
     /*   margin-top: 10%;*/
        padding-bottom: 5%;
    }
    .vaccine-list-container{
        display: grid;
        grid-gap: 20px;
    /*    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));*/
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-auto-rows: 320px;
    /*    grid-template-rows: repeat(2, 100px);*/
    }
    .vaccine-card{
        padding: 10% 0 10% 0;
        border-radius: 10px;
    }
    .vaccine-card-title{
        font-size: 5vw;
/*        width: 90%;
        margin: auto;*/
/*        padding-left: 10%;
        padding-right: 10%;*/
        text-align: center;
    }
    .vaccine-data{
    	font-size: 70px;
    	text-align: center;
    	margin-top: 1rem;

    }
    .vaccine-data-lbl{
    	font-size: 1em;
    }

    .vacine-phases-container{
        margin-top: 15%;
    }
    .phase-container{
        margin-top: 15%;
    }
    .search-container{
        margin-top: 5%;
    }
    .scene{
        height: 300px;
    }
    .search-box{
        padding: 10px;
        border-radius: 5px;
    }
    .search-container{
        margin-top: 10%;
    }
    .selection-container{
        display: flex;
        margin-top: 5%;
    }
}
@media  screen and (min-width: 380px){
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    main{
        max-width: 350px;
    }
    .line-chart-card, .vaccine-dose-card{
        padding: 1.5rem;
    }
}
@media screen and (min-width: 640px) {
    .container-info-1{
        max-width: 400px;
        margin: auto;
    }
    .container-info-2{
        margin-top: 5%;
    }
    .control, .search-container{
    justify-content: flex-end;
    }
    .divider{
        margin: 5% auto;
    }
    .divider-top{
        margin: 2% auto; 
    }
    .flex{
        align-items: flex-start;
        flex-direction: row-reverse;
        column-gap: 1rem;
        
    }
    main{
        max-width: 640px;
    }
    .search-box{
        width: 250px;
    }
    .search-container{
        margin-top: 2%;        
    }
    .selection-container{
        margin-top: 0;
    }
    .vaccine-list-container{
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-auto-rows: 300px;
    }
}
@media  screen and (min-width: 800px) {
    .container{
        max-width: none;
        margin: 0 5% 0 5%;
    }
    .container-info-1{
        max-width: none;
        display: flex;
        padding-bottom: 5%;
        margin: auto;
    }
/*    .divider{
        margin: 5% auto;
    }*/
    main{
        max-width: none;
    }
    .phase-container{
        margin-top: 0;
        flex: 5;
    }
    .scene{
        height: 350px;
    }
    .total-vaccine{
        height: 30%;
        flex: 6;
    }
    .vaccine-list-container{
        grid-auto-rows: 350px;
    }
}
@media  screen and (min-width: 1050px) {
    .charts-container{
        display: flex;
        flex-direction: column;
        margin-top: 10%;
        width: 100%;
        row-gap: 1rem;
    }
    .container-info-2{
        margin-top: 15%;
    }
    .container{
        max-width: 930px;
        margin: auto;
        padding-bottom: 15%;
    }
    .flex{
        row-gap: 0.5rem;
    }
    .header-content{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin-left: -120px;
        margin-top: -25px;
    }
    .line-chart-card, .vaccine-dose-card{
        padding: 2rem;
    }
    .vaccine-dose-card{
        margin: 0 0 0 0;
        width: 30%;
        padding: 1rem;
    }
    .vaccine-list-container{
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    }
    .selection-container{
        margin: 0 auto 0 0;
    }
    .selection-bottom{
        margin: 0 !important;
    }
    .sub-txt{
        margin-left:35px;
        margin-top: -5px;
    }
    .sub-txt-left{
        text-align: left !important;
    }
    .vaccine-data{
        font-size: 6em;
    }
}
@media  screen and (min-width: 1200px) {
    .back-txt{
        font-size: 14px !important;
    }
    .container{
        max-width: 1000px;
        margin: auto;
    }

}