


@media screen and (min-width: 320px){

	.card, .thin-card{
		border-radius: 10px;
	}

    .card__face--front, .card__face--back, .scene{
        border-radius: 10px;
    }
    .container{
        padding-bottom: 25%;
    }
	.container-info-1{
        display: grid;
        grid-template: 25% 25% 50% 50% / repeat(1, 1fr);
        grid-gap: 20px;
        padding: 5% 0 25% 0;
    }
    .control-lbl{
        margin: 8px 5px 0 0;
        font-size: 14px;
        text-align: center;
    }
    .data-lbl-container{
    	margin-left: 5%;
    	margin-right: 5%;
    	text-align: center;
    }
    main{
        width: 90%;
    }
    .lbl-container{
        margin-top: 10%;
        text-align: center;
    }
    .phase-container{
        grid-row: 2 / 3;
    }

    .phase-title{
        font-size: 16px;
        text-align: center;
        font-weight: bold;
    }

    .phase-num{
        /*margin-left: 10%;*/
        font-size: 25px;
        margin-top: 5.5%;
        margin-left: auto;
    }
    .phase-txt{
        margin-top: 7%;
        font-weight: 100;
    }
    .thin-card{
        width: 95%;
        height: 50px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
    }
    .thin-content{
        display: flex;
        justify-content: center;
        margin-left: 10%;
        margin-right: 10%;
    }
    .title-container{
/*    display: flex;
        justify-content: center;
        align-items: center;*/
    }
    .total-vaccine{
        grid-row: 1 / 2;
    }
    .total-vaccine-content{
        margin-top: 10%;
        padding-bottom: 5%;
    }
    .vaccine-list-container{
        display: grid;
        grid-gap: 20px;
    /*    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));*/
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-auto-rows: 300px;
    /*    grid-template-rows: repeat(2, 100px);*/
    }
    .vaccine-card{
        padding: 10% 0 10% 0;
        border-radius: 10px;
    }
    .vaccine-card-title{
        font-size: 5vw;
/*        width: 90%;
        margin: auto;*/
/*        padding-left: 10%;
        padding-right: 10%;*/
        text-align: center;
    }
    .vaccine-data{
    	font-size: 70px;
    	text-align: center;
    	margin: 10% 0 10% 0;
    }
    .vaccine-data-lbl{
    	font-size: 14px;
    }

    .vacine-phases-container{
        margin-top: 15%;
    }
    .phase-container{
        margin-top: 15%;
    }
    .search-container{
        margin-top: 5%;
    }
    .scene{
        height: 300px;
    }
    .search-box{
        padding: 10px;
        border-radius: 5px;
    }
    .search-container{
        margin-top: 10%;
    }
    .selection-container{
        display: flex;
        margin-top: 5%;
    }
}
@media  screen and (min-width: 380px){
    .back-txt{
        margin: 10%;
    }
    .container{
        display: flex;
        justify-content: center;
        align-items: center;

    }
    main{
        max-width: 350px;
    }
}
@media screen and (min-width: 640px) {
    .container-info-1{
        max-width: 400px;
        margin: auto;
    }
    main{
        max-width: 640px;
    }
    .search-box{
        width: 400px;
    }
    .vaccine-list-container{
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-auto-rows: 300px;
    }
}
@media  screen and (min-width: 800px) {
    main{
        max-width: none;
    }
    .container{
        max-width: none;
        margin: 0 5% 0 5%;
    }
    .container-info-1{
        max-width: none;
        display: flex;
        padding-bottom: 10%;
        margin: auto;
    }
    .phase-container{
        margin-top: 0;
        flex: 5;
    }
    .total-vaccine{
        height: 30%;
        flex: 6;
    }
}