:root {
	--black: #595959;
  --black-bg: #171814;
  --black-bg-l1: #272822;
  --black-l1: #999999;
  --grey-d0: #959595;
  --grey-d1: #E3E3E3;
	--grey1: #F3F3F4;
	--grey2: #e3e3e3;
  --grey-l1: #F9FAFB;
	--white: #FFFFFF;
}
/*!vaccine count card */
.vaccine-count{
  text-align: center;
  /* text-lg */
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
  margin-bottom:  0.5rem;
}
.vaccine-count-lbl{
  font-weight: 400;
  text-align: center;
}
/* ------- */
p{
  margin: 0;
}
body, html{
	font-family: "Courier New", Courier, monospace;
	/*background-color: var(--grey1);*/
  background-color: var(--grey-l1);
  margin:0;
  background-color: #edf2f6;
}
.card, .phase-content, .thin-card{
	background-color: var(--white);
  /*box-shadow: 2px 2px 5px 2px var(--grey2);*/
/*  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);*/
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}
.container, .container-total-vaccine{
	display: flex;
	justify-content: center;
	align-items: center;
}
.control-lbl{
  color: var(--black-l1);
}
.divider, .divider-top{
	background-color: var(--grey2);
    height: 2px;
    width: 99%;
}
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  border-top: solid var(--grey2) 2px;
}
.footer-btn{
  color: var(--black);
  border: solid var(--black);
  border-width: 1px;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
  height: 50px;
  margin-left: 20px;
  /*margin-top: 2px;*/
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-btn:hover{
     background-color: var(--black);
     box-shadow: 1px 1px 20px 2px var(--black-l1);
     transition: 0.5s;
     color: var(--white);
 }
 .footer-btn-txt{
    /* color: var(--black);*/
     font-family: 'roboto' !important;
 }
 .footer-lbl{
  font-family: 'roboto' !important;
  color: var(--black);
  font-size: 1em;
 }
 .footer-link{
  text-decoration: none !important;
 }
.footer-content{
  display: flex;
  padding: 20px;
}
header, .control, .loading-container, .search-container, .sub-data-master-container{
	display: flex;
	align-items: center;
	justify-content: center;
}
.header-container{
  background-color: white;
  border-bottom: .5px solid #d8d8d8;
  padding: 1% 2%;
  margin-bottom: 10%;
}
.header-content{
	width: 90%;
}
.header-txt, .sub-txt{
	color: var(--black);
}
.header-txt{
	text-align: center;
	margin-bottom: 0;
}
.hidden{
  display: none !important;
  margin-top: 500px;
/*background-color: red;*/
}
label{
  color: var(--grey-d0) !important;
}
.phase-txt{
  color: var(--black-l1) !important;
}
.result-count{
  text-align: center;
  margin: 10% auto;
}
.scrollable{
  overflow-y: scroll !important;
}
.search-box{
  border: solid var(--grey1) 2px;
  box-shadow: 1px 1px 1px 1px var(--grey2);
  font-family: "Courier New", Courier, monospace;
  font-size: 1.1em;
}
.search-box:hover{
  border: solid var(--grey-d0) 2px;
}
.selection-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.selection{
  padding: 10px;
  border-radius: 5px;
/*  border: solid var(--grey-d1) 2px;*/
  border: none;
  box-shadow: 2px 2px 5px 2px var(--grey2);
}
.sub-txt{
	text-align: center;
	font-size: 12px;
}
.toogle-btn-container{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.sub-txt, .txt-link{
	color: var(--black);
}
.txt-link{
  cursor: pointer;
  font-weight: bolder;
}
.vaccine-card{
	background-color: var(--white);
}
.vaccine-data-lbl{
  text-align: center;
  color: var(--black) !important;
/*  font-weight: bold;*/
}

/*loading animation config START*/
  .lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #9999;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}
/*loading animation config END*/

/*toogle button config START*/
/*toogle button design*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
/*default slider bg color*/
.slider{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
/*when the slider(circle) at the left*/
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background: url(../img/svg/light_mode.svg) center center no-repeat;
  background-repeat: no-repeat;
  background-size: 70% 70%;
  background-color: #999999;
  -webkit-transition: .4s;
  transition: .4s;
}
/*when the slider(circle) at the right*/
input:checked + .slider {
  background-color: var(--black);
}

/*when the slider(circle) at the right*/
input:checked + .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background: url(../img/svg/dark_mode.svg) center center no-repeat;
  background-repeat: no-repeat;
  background-size: 70% 70%;
  background-color: #999999;
  -webkit-transition: .4s;
  transition: .4s;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/*toogle button config END*/

/*flipping card style config START*/
.scene {
/*  width: 240px;
  height: 320px;*/
/*  border: 1px solid #CCC;*/
  margin: 40px 0;
  perspective: 600px;
  /*box-shadow: 2px 2px 5px 2px var(--grey2);*/
  /*transition: all 0.3s cubic-bezier(.25,.8,.25,1);*/
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.scene:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.back-txt{
  top: 10%;
  font-size: 14px !important;
  color: var(--black);
  text-align: left;
  position: absolute;
  padding-bottom: 10%;
}
.card-flipping{
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}
.card-flipping.is-flipped {
  transform: rotateY(180deg);
}
.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
/*  line-height: 260px;*/
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.card__face--front {
  background: var(--white);
/*  overflow-y: hidden;*/
}
.card__face--back {
  background: var(--white);
  overflow-y: hidden;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
/*  margin: 5%;*/

} 
.back-container{
  margin-top: -90%;
  width: 90%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.front-container{
  width: 90%;
  height: auto;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.front-txt{
  top: 25%;
  font-size: 0.5em !important;
  color: var(--black);
  text-align: center;
  position: absolute;
  margin: 10%;
}
.sub-front-txt{
  color: var(--black);
  margin-top: 5%;
  text-align: center;
  font-size: 0.3em;
  position: absolute;
  bottom: 0;
}
/*flipping card style config END*/

/*transitions START*/
.body-bg-lht, .body-bg-drk{
/*  transition-delay: 0.5s;*/
transition: 0.5s;
}
.card-lht, .card-drk,
.card-back-lht, .card-back-drk,
.card-front-lht, .card-front-drk,
.divider-lht, .divider-drk, .footer-drk, .footer-btn-drk,
.footer-lht, .footer-btn-drk, .header-txt-lht, 
.header-txt-drk, .header-container, .html-bg-lht, .option-lht, 
.option-drk, .phase-content-lht, 
.phase-content-drk, .html-bg-drk, .scene, 
.scene-drk, .selection-drk-lht, .selection-drk, 
.sub-txt-lht, .sub-txt-drk,
.thin-card-lht, .thin-card-drk, 
.txt-link-lht, .txt-link-drk{
  transition: 0.5s;
/*  transition-delay: 0.5s;*/
}
/*transitions END*/

/*light mode design START*/

.card-lht, .card-back-lht, .card-front-lht, .header-container-lht, .phase-content-lht, 
.thin-card-lht, .search-box-lht, .selection-lht{
  background-color: var(--white);
}
.divider-lht{
  background-color: var(--grey2);
}
.footer-lht{
  border-top: solid var(--grey2);
}
.footer-btn-lht, .vaccine-data-lht{
  color: var(--black);
}
.footer-btn-lht:hover{
  background-color: var(--black);
  box-shadow: 1px 1px 20px 2px var(--black-l1);
  color: var(--white);
}
/*text color*/
.footer-txt-lht, .back-lht, .front-lht, .header-txt-lht, .option-lht, 
.search-box-lht, .selection-lht, .sub-front-lht, 
.sub-txt-lht, .txt-link-lht{
  color: var(--black);
}
.html-bg-lht, .body-bg-lht{
 background-color: #edf2f6;
  color: var(--black);
}
/*light mode design END*/

/*dark mode design START*/

.card-drk, .card-back-drk, .card-front-drk, .phase-content-drk, .thin-card-drk, .search-box-drk, .selection-drk{
  background-color: var(--black-bg-l1);
  box-shadow: none !important;
}
.divider-drk{
  background-color: var(--black);
}
/*text color*/
.back-drk, .front-drk, .header-txt-drk{
  color: var(--white);
}
.footer-drk{
  border-top: solid var(--black) !important;
}
.footer-btn-drk{
  color: var(--white) !important;
}
.footer-btn-drk:hover{
  color: var(--black) !important;
  background-color: var(--white) !important;
  box-shadow: none;
}
/*text color*/
.footer-txt-drk, .option-drk, .search-box-drk, .selection-drk, 
.sub-front-drk, .sub-txt-drk, .vaccine-data-drk{
  color: var(--black-l1) !important;
}
.html-bg-drk, .body-bg-drk, .header-container-drk{
  background-color: var(--black-bg) !important;
  color: var(--white) !important;
}
.scene-drk{
  box-shadow: none !important;
}
.search-box-drk{
  border: solid var(--black-bg) 2px !important;
}
.search-box-drk:hover{
  border: solid var(--black) 2px !important;
}
.thin-card-drk{
  border: solid var(--black) 1px;
}
.txt-link-drk{
  color: var(--white) !important;
}
/*dark mode design END*/


